{% extends 'events/base.html' %}
{% load staticfiles %}

{% block main %}
<div class="container main-content" style="padding-top:10px">
  <form>
    <div class="input-field col s12">
        <input id="event_name" type="text" class="validate">
        <label for="event_name">Event Name</label>
    </div>
    <div class="input-field col s12">
        <input id="start_date" type="date" class="datepicker">
        <label for="start_date">Start Date</label>
    </div>
    <div class="input-field col s12">
        <input id="end_date" type="date" class="datepicker">
        <label for="end_date">End Date</label>
    </div>
    <div class="input-field col s12">
            <select id="categorySelect">
              <option value="" disabled selected>Select event category...</option>
              {% for category in categories %}
                <option value='{{category.pk}}'>{{category.Category}}</option>
              {% endfor %}
            </select>
            <label>Category</label>
    </div>
    <div class="input-field col s12">
            <select id="venueSelect">
              <option value="" disabled selected>Select event venue...</option>
              {% for city in cities %}
                <option value='{{city.pk}}'>{{city.Name}}</option>
              {% endfor %}
            </select>
            <label>Venue</label>
    </div>
    <div class="input-field col s12">
        <textarea id="address" maxlength="500" class="materialize-textarea" placeholder="12th Avenue Road, Worli, Mumbai 400059"></textarea>
        <label for="desc">Address</label>
    </div> 
    <div class="input-field col s12">
        <input id="email_id" type="email" class="validate">
        <label for="email_id">Email Id</label>
    </div>
    <div class="input-field col s12">
        <input id="mobile" type="number" class="validate" maxlength="10">
        <label for="mobile">Mobile</label>
    </div>
    <div class="input-field col s12">
        <textarea id="desc" maxlength="500" class="materialize-textarea" placeholder="Start at 8 AM. Entry Fee Rs 200 per person. Food will be provided."></textarea>
        <label for="desc">Brief Description</label>
    </div> 
    <div class="input-field col s12">
      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
          <input type="file" id="imageFile">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload event banner">
        </div>
      </div>
    </div>
  </form>
  <div class="center-align">
      <div id="error_div" class="red-text hide" style="padding:5px;"></div>
      <button id="submit_btn" class="btn waves-effect waves-light" onclick="submitForm()">Add Event
          <i class="material-icons right">send</i>
      </button>
      <label class="center-align" style="padding:5px;">
          <a href="/login/" onclick="startLoader()">Edit existing event?</a>
      </label>
      <div id="spinner" class="hide" style="display:inline-block">
        {% include "components/spinner.html" %}
      </div>
  </div>
</div>

{% endblock main%}
{% block js %}
  {{block.super}}
  <script type="text/javascript">
        CSRF_TOKEN = '{{ csrf_token }}'
    </script>
    <script type="text/javascript" src="{% static 'events/js/register.js' %}"></script>
{% endblock js %}
