{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://use.fortawesome.com/aa396b4d.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'events/css/home.css' %}"/>
    <link rel="stylesheet"  href="{% static 'events/css/sidebar.css' %}">
    <script type="text/javascript"> 
    var a = "{{username}}";
    window.onload = function(){
     var a = "{{username}}";
    if (a) {
    $("#login").hide();
    $("#logout").show();
    $("#signup").hide();
   }
    else{
    $("#login").show();
    $("#logout").hide();
    $("signup").show();
     } 
    }
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
     
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
        </button>
        <!-- Button for smallest screens -->
<!--         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> 
          <span class="icon-bar"></span> <span class="icon-bar"></span> </button> -->
          
         <div class="navbar-header navbar-left">
          <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wrapper" >
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
        </div> 
        <a class="navbar-brand" href="/">
        <!-- <img src="{% static 'events/images/logo.png' %}" style="height:40px;width:40px;display:inline-block;" alt="Events Mania"> -->
        <h1 style="font-family:'Shadows Into Light',cursive;font-size:30px;margin:0px;display:inline-block;">Eventry</h1>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li style="cursor:pointer;" onclick="openCityModal()"><a><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;{{cityName}}</a></li> 
          <li class="active"><a href="/events/">Home</a></li>
          <li><a  href="/events/details/">Add</a></li>
          <li><a  id="login"  href="/events/login/">Login</a></li>
          <li><a  id ="signup"  href="/events/register/">Sign Up</a></li>
          <li><a  id="logout"  href="/events/logout/">Logout</a></li>
	<li><h3 id="h3user" style="font-family:'Shadows Into Light',cursive;font-size:20px;margin:0px;color:white;" >{{ username }}</h3></li>
        </ul>
      </div>
     
    </div>
  </div>
  <br> <br> <br> 

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    </a>
                </li>
                {% for option in options %}
                <li style="color:#fff;cursor:pointer;">
                    <input name="selectedevent[]" id="category_{{option.pk}}" type="checkbox" value="{{option.pk}}" checked
                    onclick="handleCategoryChange('{{option.pk}}')"></input>
                    <label for="category_{{option.pk}}">{{ option.fields.Category }}</label>
                </li>
                {% endfor %}
                <li style="color:#fff;cursor:pointer;">
                    <div>SMS Partner</div>
                    <a href="https://msg91.com/startups/?utm_source=startup-banner" target="_blank"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            {% for item in query_results %}
            <div class="card" id="event_{{item.pk}}">
            <table>
                <tr>
                    <td>
                       <img src="{{ item.fields.ImageLocation }}" style="height:50px;width:50px;"  class="img-circle">
                    </td>
                    <td>
                        <div>
                         <b> {{ item.fields.Name }} </b>
                        </div>
                        <div>
                            on {{ item.fields.StartDate }} at {{ item.fields.StartTime }}
                        </div>
                        <div>
                            {{ item.fields.Venue }}
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            {% endfor %}
        </div>

        <!-- Modal -->
        <div class="modal fade {% if isCityPresent == '0' %} faded-background {% endif %}" id="areaModal" tabindex="-1" role="dialog" aria-labelledby="areaModal" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header">
              {% if isCityPresent == '1' %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
              {% endif %}
               <h4 class="modal-title" id="myModalLabel">Please select your area</h4>
              </div>
              <div class="modal-body">
                    <select name="list" id="areaDDL">
                    {% for city in cities %} 
                        <option value="{{city.fields.Name}}" {% if city.fields.Name == cityName %} selected {% endif %}>{{city.fields.Name}}</option> 
                    {% endfor %}
                    </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="handleCityChange()">Proceed</button>
              </div>
            </div>
          </div>
        </div>
    </div>
<script type="text/javascript">
    var allEvents = JSON.parse('{{query_results|escapejs}}'.replace(/u/g,'').replace(/'/g,'"'))
    var categories = JSON.parse('{{options | safe | escapejs}}'.replace(/u/g,'').replace(/'/g,'"'))
</script>
 <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script type="text/javascript" src="{% static 'events/js/home.js' %}"></script>
</body>

</html>


