{% extends "events/base.html" %}
{% load staticfiles %}

{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'events/css/home.css' %}"/>
{% endblock css%}

{% block header %}
  {% include "components/header.html" with cityName=cityName username=username %}
{% endblock header %}
{% block main %}
  <main>
    {% include "components/slideout.html" with categories=categories %}
    <div class="section no-pad-bot" id="main-content">
      <div class="container">
        {% for event in eventList %}
          {% include "components/eventCard.html" with img=event.ImageLocation name=event.Name startDate=event.StartDate endDate=event.EndDate venue=event.AreaId__Name eventId=event.id category=event.EventCategoryId__Category description=event.Description contactNo=event.ContactPhone  contactEmail=event.ContactEmail address=event.Address type=event.Type isMobile=isMobile%}
        {% endfor %}
      </div>
      {% include "components/areaModal.html" with cities=cities %}
      {% include "components/detailModal.html" %}
    </div>
  </main>
{% endblock main %}
{% block js %}
  {{block.super}}
  <script type="text/javascript">
    var allEvents = JSON.parse('{{eventListJSON| safe | escapejs}}')
    var categoriesJSON = JSON.parse('{{categoriesJSON | safe | escapejs}}')
    var isCityPresent = '{{isCityPresent}}'
    var cityName = '{{cityName}}'
  </script>
  <script type="text/javascript" src="{% static 'events/js/home.js' %}"></script>
{% endblock js %}

