{% extends 'events/base.html' %}
{% load staticfiles %}

{% block main %}
  <div class="row main-content" style="padding-top:10px">
    <form method='POST' id="signUpForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <input id="full_name" type="text" class="validate">
            <label for="full_name">Full Name</label>
        </div> 
        <div class="input-field col s12">
            <input id="email_id" type="email" class="validate">
            <label for="email_id">Email Id</label>
        </div>
        <div class="input-field col s12">
            <input id="mobile" type="number" class="validate" maxlength="10">
            <label for="mobile">Mobile</label>
        </div> 
        <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
            <input id="confirm_password" type="password" class="validate">
            <label for="confirm_password">Confirm Password</label>
        </div>
        <div class="input-field col s12">
            <select multiple id="categorySelect">
              <option value="" disabled selected>Select preferred categories...</option>
              {% for option in options %}
                <option value='{{option.pk}}'>{{option.Category}}</option>
              {% endfor %}
            </select>
            <label>Preferred Categories</label>
        </div>
        <div class="input-field col s12 mar-0 pad-0">
            <input type="checkbox" class="filled-in" id="notificationChk" checked="checked" />
            <label for="notificationChk">Send me notifications about upcoming events</label>
        </div>
      </div>
    </form>
    <div class="center-align">
        <div id="error_div" class="red-text hide" style="padding:5px;"></div>
        <button id="submit_btn" class="btn waves-effect waves-light" onclick="submitForm()">Sign Up
          <i class="material-icons right">send</i>
        </button>
        <label class="center-align" style="padding:5px;">
        Already a member?
            <a href="/login/" onclick="startLoader()">Login</a>
      </label>
      <div id="spinner" class="hide" style="display:inline-block">
        {% include "components/spinner.html" %}
      </div>
    </div>
  </div>
{% endblock main %}

{% block js %}
  {{block.super}}
  <script type="text/javascript">
        CSRF_TOKEN = '{{ csrf_token }}'
    </script>
    <script type="text/javascript" src="{% static 'events/js/signup.js' %}"></script>
{% endblock js %}
