{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	 <link rel="stylesheet" href="{% static 'events/css/style1.css' %}">
         <script type="text/javascript" >
	  document.getElementById("myform").on('submit', function(e){
	e.preventDefault();
	alert("refres");
	});
	</script>	
    </head>
    <body>
        <div>
            <h1><a href="">user</a></h1>
        </div>
	<div class="form-div">
	<form method='POST' id="myform" class="well">{% csrf_token %}
	{% for field in form %}
	<div id="{{ field.auto_id }}_container" class="form-group row">
	<div class="col-sm-4 form-control-label">
	{{ field.label_tag }}
	</div>
	<div class="col-sm-10">
	 {{ field }}
	</div>
	
	</div>
	{% endfor %}	
	<div class="form-group row">
	<div  class="col-sm-4 form-control-label">
	<label >Select Category:</label>
	</div>
	<br/>
	{% for option in options %}
	<div class="col-sm-10">
	<input name="selectedevent[]" type="checkbox" value={{option.pk}}>{{ option.Category }}</input>&nbsp;&nbsp;
	</div>
	{% endfor %}
	</div>
	<div class="span7 text-center">
	<button type="submit" class="save btn btn-default">Save</button>
	</div>
	</form>
	</div>
    </body>
</html>

~
~
~
~

