{% extends 'events/base.html' %}
{% load staticfiles %}

{% block main %}
            <div class="row main-content" style="padding-top:10px">
                <form method='POST' id="loginForm" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="email_id" type="text" class="validate">
                              <label for="email_id">Email Id</label>
                            </div> 
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                            </div>
                         </div>
                 </form>
                <div class="center-align">
                    <button id="submit_btn" class="btn waves-effect waves-light" onclick="submitForm()">Login
                    <i class="material-icons right">send</i>
                  </button>
            		<label class="center-align" style="padding:5px;">
            		  Not a user yet?
                      <a href="/signup/" onclick="startLoader()">Sign Up</a>
            		</label>
	               <div id="error_div" class="red-text hide" style="padding:5px;"></div>
                </div>
                <div id="spinner" class="hide" style="display:inline-block">
                  {% include "components/spinner.html" %}
                </div>
            </div>
{% endblock main%}
{% block js %}
    {{block.super}}
    <script type="text/javascript">
        CSRF_TOKEN = '{{ csrf_token }}'
    </script>
    <script type="text/javascript" src="{% static 'events/js/login.js' %}"></script>
{% endblock js %}

