<!DOCTYPE html>
<html>

<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
	<th>Venue</th>
	<th>Time</th>
        <th>EventCategory</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.Name }}</td>
        <td>{{ item.Date }}</td>
	<td>{{ item.Venue }}</td>
	<td>{{ item.Time }}</td>
        <td>{{ item.EventCategoryId }}</td>
    </tr>
    {% endfor %}
</table>
</html>
