 <div id="areaModal" class="modal modal-close" style="height:80%">
    <div class="modal-content" style="height:80%">
         <div class="input-field">
           <select id="areaSelect">
              <option value="" disabled selected>Please select your area</option>
              {% for city in cities %}
                <option value='{{city.Name}}'>{{city.Name}}</option>
              {% endfor %}
            </select>
            <label>Area</label>
          </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light modal-action modal-close" onclick="handleCityChange()">Proceed
	    <i class="material-icons right">send</i>
	  </button>
    </div>
</div>