 <div id="detailsModal" class="modal modal-close">
    <div class="modal-content">
      <h5 id="detail_event_name"></h5>
      <div>
      	<span class="chip" id="detail_contact_no_wrapper" onClick="handleDetailModalMobile()">
      		<i class="fa fa-phone"></i>
      		<span id="detail_contact_no"><a href="tel:+919049253865">+91 9049253865</a></span>
      	</span>
      	<span class="chip">
      		<i class="fa fa-envelope"></i>
      		<span id="detail_email_id"><a href="mailto:sharmad@eventry.in">sharmad@eventry.in</a></span>
      	</span>
      </div>
      <p id="detail_desc"></p>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light modal-action modal-close">Close
      <i class="material-icons right"></i>
    </button>
    </div>
</div>