<div vocab="http://schema.org/" typeof="Event" class="col s12 m7 section scrollspy"  id="e{{eventId}}">
    <div class="card {% if isMobile == False %}horizontal {% endif %} card-panel hoverable pad-5" style="margin:10px;">
      <div class="card-image waves-effect waves-block waves-light" style="max-width:250px;">
        {% if img %}
        <img property="image" class="responsive-img" src="{{img}}" style="width:100%">
        {% elif isMobile == False %}
        <img property="image" class="responsive-img" style="width:100%" src="http://res.cloudinary.com/eventry/image/upload/v1472367090/base/EventryLogo2.png">
        {% endif %}
      </div>
      <div class="card-stacked">
        <div class="card-content pad-5">
          <div class="row">
            <div class="col l4 m6 s12">
                {% if type %}
                <span class="new badge blue featured" data-badge-caption='{{type}}'>
                </span>
                {% endif %}
                <div class="chip">
                  <!-- <img src="images/yuna.jpg" alt="Contact Person" /> -->
                  <b>{{category}}</b>
                </div>
                <div property="name">{{name |safe}}</div>
                <br />
                {% if startDate != endDate%}
                <div>
                  <b>Starts:</b>
                  <span property="startDate" content="{{startDate}}">{{startDate|date:'jS M, y'}}</span>
                </div>
                <div>
                  <b>Ends:</b>
                  <span property="endDate" content="{{endDate}}">{{endDate|date:'jS M, y'}}</span>
                </div>
                {% else %}
                <div>
                  <span property="startDate" content="{{startDate}}">{{startDate|date:'jS M, y'}}</span>
                </div>
                {% endif %}
            </div>
            <div property="location" typeof="Place" class="col l3 m6 s12">
                <span property="name">{{address |safe | truncatechars:200}}</span>
                <span property="address">Goa, India</span>
            </div>
            <div class="col l5 m12 s12">
              <span property="description">{{description |safe |truncatechars:200}}</span>
            </div>
          </div>
        </div>
        <div class="card-action pad-5 mar-5">
          <div class="row pad-0 mar-0">
            <div class="col s8">
               <!--  <a style="cursor:pointer">{{venue}}</a> -->
                 {% if isMobile %}
               <a class="mar-0" href="whatsapp://send?text=Enjoy {{name}} in {{venue}} on {{startDate}}. http://eventry.in/{{venue}}/%23e{{eventId}} For more events in {{venue}}, stay hooked on to Eventry - The Event Hub.">
                <i class="fa fa-2x fa-whatsapp green-text"></i>
               </a>
               {% endif %}
               <a class="twitter-share-button blue-text mar-0" target="_blank" 
                  href="https://twitter.com/intent/tweet?text=Enjoy {{name}} in {{venue}} on {{startDate}}.&url=http://eventry.in/{{venue}}/%23e{{eventId}}/&hashtags={{venue}},{{category}}&via=teameventry">
                  <i class="fa fa-2x fa-twitter"></i>
               </a>
               <div style="display:inline-block" class="fb-share-button mar-0" data-href="http://eventry.in/{{venue}}/%23e{{eventId}}/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="blue-text darken-1 fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                  <i class="fa fa-2x fa-facebook-official"></i>
               </a></div> 
            </div>
            <div class="col s4">
               <a style="cursor:pointer" target="_blank" class="activator detail-link" onclick="handleDetailModal('{{name|escapejs}}','{{description|escapejs}}', '{{contactNo}}', '{{contactEmail}}')">DETAILS</a>    
            </div>
          </div>
        </div>
      </div>
       <!--  <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description - {{name}}<i class="material-icons right">close</i></span>
            <p>{{description}}</p>
        </div> -->
    </div>
    <a property="url" style="visibility: hidden" href="http://eventry.in/Goa/#e{{eventId}}"></a>
</div>