<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Eventry is a hub of events where you can find anything and
          everything including conferences, concerts, parties, treks, drive outs, dramas, plays and much more.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reach out to us</h5>
          <ul>
            <li><a class="white-text" href="#!">contact@eventry.in</a></li>
            <li><a class="white-text" href="#!">support@eventry.in</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li style="display:inline-block">
              <a class="connect-icons" href="https://twitter.com/teameventry" target="_blank">
                <i class="fa fa-2x fa-twitter"></i>
              </a>
            </li>
            <li style="display:inline-block">
              <a class="connect-icons" href="https://www.facebook.com/evntry/" target="_blank">
                <i class="fa fa-2x fa-facebook-official"></i>
              </a>
            </li>
            <!-- <li class="connect-icons"><i class="fa fa-2x fa-google-plus"></i></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Team Eventry</a>
      </div>
    </div>
</footer>