<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a data-activates="slide-out" class="button-collapse"><i class="material-icons"></i></a>
        <a id="header-logo" href="#" class="brand-logo" style="font-family:'Shadows Into Light',cursive;">
            <!-- <img class="circle responsive-img" src="http://res.cloudinary.com/pockit/image/upload/v1471727413/beta-icon_wb5zq8.png" style="width:60px;height:60px;"/> -->
            Eventry
            <sub class="orange-text text-lighten-3" style="font-size:15px;">BETA</sub>
        </a>
        <a id="flyout-menu-trigger" href="#" data-activates="slide-out" class="left hide-on-large-only hide"><i class="material-icons">settings</i></a>
        <a id="hamburger-nav-trigger" href="#" data-activates="nav-menu" class="right hide-on-large-only"><i class="material-icons">menu</i></a> 
        <ul class="right hide-on-med-and-down">
            <li id="home"><a href="/">Home</a></li>
            {% if request.user.is_authenticated %}
            <li id="addEvent"><a href="/details/">Add Event</a></li>
            <li id="logout"><a href="/logout/">Logout</a></li>
            {% else %}
            <li id="login"><a href="/login/">Login</a></li>
            <li id ="signup"><a href="/register/">Sign Up</a></li>
            {% endif %} 
            {% if cityName %}
              <li style="cursor:pointer;">
                <a class="chip" id="area-modal-trigger" href="#areaModal" onClick="handleAreaModalOpen()">
                  <i class="fa fa-location-arrow" style="line-height:inherit;"></i>
                  {{cityName}}
                </a>
              </li> 
            {% else %}
              <li>
                <a id="area-modal-trigger" href="#areaModal"></a>
              </li>
            {% endif %}
            {% if username %}
            <li id="username">
              <a class="chip">
                  {{username}}
              </a>
            </li>
            {% endif%}
        </ul>
        <ul class="side-nav collection blue darken-3" id="nav-menu" >
            <li class="collection-item blue darken-3" id="username"><h3 style="font-family:'Shadows Into Light',cursive;font-size:20px;margin:0px;color:white;" >{{ username }}</h3></li>
              {% if cityName %}
              <li class="collection-item blue darken-3" style="cursor:pointer;">
                <a id="area-modal-mobile-trigger" href="#areaModal" onClick="handleAreaModalOpen()">
                  <div>
                  <i class="fa fa-location-arrow"></i>
                  {{cityName}}
                  </div>
                </a>
              </li> 
            {% else %}
              <li>
                <a id="area-modal-mobile-trigger" href="#areaModal"></a>
              </li>
            {% endif %}
            <li class="collection-item blue darken-3" id="home"><a href="/">Home</a></li>
            {% if request.user.is_authenticated %}
            <li class="collection-item blue darken-3" id="add"><a href="/details/">Add Event</a></li>
            <li class="collection-item blue darken-3" id="logout"><a href="/logout/">Logout</a></li>
            {% else %}
            <li class="collection-item blue darken-3" id="login"><a href="/login/">Login</a></li>
            <li class="collection-item blue darken-3" id="signup"><a href="/register/">Sign Up</a></li>
            {% endif %}
        </ul>
      </div>
  </nav>
</div>