<ul id="slide-out" class="side-nav fixed">
    <li class="blue darken-3" style="height:64px;">
        <a id="logo-container" href="#" class="brand-logo">
          <h3 class="mar-0 pad-0" style="display:inline-block;font-family:'Shadows Into Light',cursive;color:white;">
            <!-- <img src="http://res.cloudinary.com/pockit/image/upload/v1471723929/EventryLogo2_qdvreu.png" style="width:60px;height:60px;display:inline-block;"/> -->            
              <span>Eventry</span>
              <sub class="orange-text text-lighten-3" style="font-size:15px;">BETA</sub>
          </h3>
        </a>
    </li>
    {% for category in categories %}
      <li style="color:#fff;cursor:pointer;padding-left:20px;">
          <input id="category_{{category.id}}" type="checkbox" value="{{category.id}}" checked
          onclick="handleCategoryChange('{{category.id}}')"></input>
          <label for="category_{{category.id}}">{{ category.Category }}</label>
      </li>
    {% endfor %}
    <li>
      <a href="https://msg91.com/startups/?utm_source=startup-banner" target="_blank" onClick="handleSMSAdClick()">
      <!-- <span class="orange-text text-lighten-1" style="cursor:pointer;padding-left:20px;">
        SMS Partner
      </span> -->
      <!-- <br /> -->
      <img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
      <br />
    </li>
</ul>
      