.connect-icons{
	display: inline;
	padding:4px;
	cursor: pointer;
	color: blue;
}

/*To keep the footer stuck to the bottom*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .main-content{
    flex: 1 0 auto;
  }
/**/
