body{
    background-color: #D8DDE3;
}

.faded-background{
    background: rgba(231,234,238,1);   
}

.pad-5{
    padding: 5px!important;
}
.mar-5{
    margin: 5px!important;
}
.pad-0{
    padding: 0px!important;
}
.mar-0{
    margin: 0px!important;
}
body {
  /*font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif!important;*/
  font-family: 'Inconsolata', monospace;
}