/*offsets the main header and footer so that doesnt overlap with side bar*/
nav, main, footer {
      padding-left: 170px;
}

@media only screen and (max-width : 992px) {
  nav, main, footer {
    padding-left: 0;
  }
}
.featured {
	position: initial!important;
	display:inline-block;
	margin-bottom:4px;
}
/**/
